[submodule "baselines/AdaPlan-H"]
	path = baselines/AdaPlan-H
	url = https://github.com/import-myself/AHP.git
	ignore = dirty
[submodule "baselines/ADaPT"]
	path = baselines/ADaPT
	url = https://github.com/archiki/ADaPT.git
	ignore = dirty
[submodule "baselines/AoT-plus"]
	path = baselines/AoT-plus
	url = https://github.com/llmsresearch/aot-plus.git
	ignore = dirty
[submodule "baselines/LLM-P"]
	path = baselines/LLM-P
	url = https://github.com/Cranial-XIX/llm-pddl.git
	ignore = dirty
[submodule "baselines/ReAcTree"]
	path = baselines/ReAcTree
	url = https://github.com/Choi-JaeWoo/ReAcTree.git
	ignore = dirty
[submodule "benchmarks/LexiCon"]
	path = benchmarks/LexiCon
	url = https://github.com/Periklismant/lexicon_neurips.git
	ignore = dirty
